*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  background-color: grey;
}

.banner-wrap {
  background: rgb(209, 228, 234);
  position: relative;
  width: 310px;
  height: 236px;
  overflow: hidden;
  border: 1px solid whitesmoke;
}

.sky {
  height: 116px;
  width: 100%;
  background-image: url(img/sky02.png);
}

.city {
  height: 52px;
  width: 5000%;
  background-image: url(img/city.png);
  display: block;
  position: absolute;
  top: 31%;
  left: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: city 8s linear;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.highway {
  height: 100px;
  width: 5000%;
  background-image: url(img/road.png);
  display: block;
  position: absolute;
  top: 52%;
  left: 0;
  z-index: 1;
  background-repeat: repeat-x;
  animation: highway 8s linear;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.plinth {
  height: 68px;
  width: 312px;
  background-image: url(img/plinth.png);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.cta__btn {
  height: 37px;
  width: 195px;
  background-image: url(img/cta_1_W200.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 46%;
  left: 3%;
  z-index: 6;
}

.cta__btn:hover {
  background-image: url(img/cta_2_W200.png);
  // transition: all 0.2s;
}

.arrow {
  width: 100%;
  height: 19px;
  position: relative;
}

.arrow:hover { 
  animation: moveArrow .4s;
}

.arrow img {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 22%;
  left: 6px;
}

@keyframes moveArrow { 
  0% { 
    opacity: 1; 
    transform: translate(0);
  } 
  25% { 
    opacity: 0; 
    transform: translateX(10px);
  }
  50% { 
    opacity: 0;
    transform: translateX(-100px);
  }
  100% { 
    opacity: 1; 
    transform: translate(0);
  }
}


/* CAR--1 styles go here */

.car1 {
  width: 190px;
  position: absolute;
  bottom: 79px;
  left: -191px;
  z-index: 2;
  animation: car 9s linear; 
}

.car1 img {
  width: 100%;
}

@keyframes car {
  0% {
    left: -60%;
  }
  15% { 
    left: 30%;
  }
  30% { 
    left: 29%;
  }
  50% { 
    left: 30%;
  }
  70% { 
    left: 29%; 
  }
  80% { 
    left: 30%;
  }
  90% { 
    left: 130%;
  }
  100% {
    left: 130%;
  }
}

.car1__shadow { 
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  box-shadow: -5px 6px 10px 2px #000;
  position: absolute; 
  bottom: 4px; 
  left: 30px; 
  width: 130px;
}

.car1__wheel {
  position: absolute;
  bottom: 31px;
  left: 35px;
  z-index: 2;
}

.car1__wheel img {
  width: 27px;
  height: 27px;
  animation: rotate 1s linear infinite;
}

.car1__wheel--front {
  position: absolute;
  left: -13px;
}
.car1__wheel--back {
  position: absolute;
  left: 104px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


/* CAR--2 styles go here */

.car2 { 
  width: 190px;
  position: absolute;
  top: 56px; 
  // right: -191px; 
  right: 0; 
  z-index: 2;
  animation: car2 5.5s ease-in;
  animation-delay: 8.5s;
  opacity: 0;
}

.car2 img {
  width: 100%;
}

/* attempt to add/remove animation classes */
.car2-animate { 
  animation: car2 5.5s ease-in;
  animation-delay: 8.5s;
}

@keyframes car2 { 
  0% { 
    opacity: 1;
    transform: translate(100%, -10%) scale(0.7);
  }
  30% { 
    opacity: 1;
    transform: translate(-26%, 5%) scale(1.2);
  }
  90% { 
    opacity: 1;
    transform: translate(-26%, 5%) scale(1.2);
  }
  100% { 
    opacity: 1;
    transform: translate(-220%, 50%) scale(2);
  }
}

.car2__wheel {
  position: absolute;
  bottom: 40px;
  z-index: 2;
}

.car2__wheel img {
  width: 31px;
  height: 31px;
  // animation: rotate 1s linear infinite;
}

.car2__wheel--front {
  position: absolute;
  left: 93px;
}
.car2__wheel--back {
  position: absolute;
  left: 158px;
}




